@import "tailwindcss";

@font-face {
	font-family: "Geist Mono";
	src: url("/public/geistMono.ttf") format("truetype");
}

@theme {
	--font-geist: "Geist Mono";
}

* {
	@apply font-geist;
}

.grid-item {
	@apply absolute select-none flex flex-col items-center justify-end p-4;
}
